Source: neutrinordp
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, cmake, libssl-dev, libx11-dev, libxext-dev, libxinerama-dev, libxcursor-dev, libxdamage-dev, libxv-dev, libxkbfile-dev, libasound2-dev, libcups2-dev, libxml2, libxml2-dev, libxrandr-dev, libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev, libavutil-dev, libavcodec-dev, libavformat-dev
Standards-Version: 3.9.3

Package: neutrinordp
Architecture: any
Depends: ${misc:Depends}
Conflicts: freerdp-x11
Description: neutrinordp RDP client
 NeutrinoRDP is a fork of freerdp 1.0.1.
