Source: univention-lightdm
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper,
 univention-config-dev,
 ucslint

Package: univention-lightdm
Architecture: all
Depends: ${misc:Depends},
 univention-base-files,
 shell-univention-lib,
 lightdm,
 unity-greeter,
 univention-policy-tools,
 gconf2,
 univention-ucc-theme,
 x11-xserver-utils,
 indicator-session,
 light-themes,
 ttf-ubuntu-font-family
Recommends: gnome-icon-theme
Description: UCS - LightDM configuration
 This package integrates the LightDM login manager into 
 Univention Corporate Client.
