@define-color entry_bg_color white;
@define-color text_color_light white;
@define-color text_color_dark black;
@define-color border-dark #414245;
@define-color border-light #b0b0b0;

* {
	color: @text_color_light;
}

/* Textfield */
.entry {
	background-color: @entry_bg_color;
	color: @text_color_dark;
	border-width: 2px;
	border-style: solid;
	border-radius: 0px;
	border-top-color: @border-dark;
	border-left-color: @border-dark;
	border-right-color: @border-light;
	border-bottom-color: @border-light;
}

.button {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	padding: 5px;	
	border-top-color: @border-light;
	border-left-color: @border-light;
	border-right-color: @border-dark;
	border-bottom-color: @border-dark;
}

.lightdm.button{
	background-image: none;
	background-color: alpha (black, 0.3);
	border-radius: 4px;
	padding: 7px;

	color: alpha (black, 0.3);
	text-shadow: none;

	-unico-border-gradient: none;
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 0;
	-unico-glow-radius: 0;
	-unico-outer-stroke-color: alpha (white, 0.1);
	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-width: 1px;
	-unico-focus-border-color: alpha (white, 0.5);
}

.lightdm.button:focused *,
.lightdm.button:selected *,
.lightdm.button:selected:focused * {
	color: white;
	-unico-outer-stroke-color: alpha (white, 0.15);
}

.lightdm.button:active {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	border-top-color: @border-dark;
	border-left-color: @border-dark;
	border-right-color: @border-light;
	border-bottom-color: @border-light;
}

.menu {
	background-color: alpha (white, 0.122);
}

.menuitem {
        border-style: solid;
        border-width: 0px 0px;
        border-color: @border-light;
        background-color: alpha (white, 0.4);
}

