[Desktop Entry]
Name=UCC

X-KDE-PluginInfo-Name=UCC
X-KDE-PluginInfo-Author=Univention GmbH
X-KDE-PluginInfo-Email=feedback@univention.de
X-KDE-PluginInfo-License=All rights reserved
