Source: univention-ucc-cifshome-pam-mount
Section: univention
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper,
 univention-config-dev,
 ucslint

Package: univention-ucc-cifshome-pam-mount
Architecture: all
Depends: ${misc:Depends},
 libpam-mount,
 cifs-utils,
 univention-lightdm (>> 1.0.15),
Description: mount user's home via CIFS and pam_mount 
 This package adds pam_mount to the PAM stack, which mounts
 the user's CIFS home share during login at lightdm.
