Source: univention-ucc-firefox-config
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 8.0.0), ucslint, univention-config-dev
Standards-Version: 3.9.4
Homepage: http://www.univention.de/

Package: univention-ucc-firefox-config
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Configure Firefox settings via UCR
 This package offers the possibility to configure
 Firefox settings via a prefs.js file using UCR.
