[Desktop Entry]
Exec=/usr/share/univention-ucc-application-server/univention-ucc-kde-remote-device-bookmark
X-DBUS-StartupType=wait
Name=UCC client bookmark
Name[da]=Plasma Desktop Workspace
Type=Application
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=1

