Source: univention-corporate-client
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper, ucslint, univention-config-dev

Package: univention-corporate-client
Architecture: all
Depends: univention-config,
 python-univention-lib,
 univention-base-files,
 shell-univention-lib,
 univention-policy-tools,
 univention-join,
 univention-ucc-pam,
 univention-ucc-initramfs,
 univention-directory-policy,
 univention-ucc-remote-mount,
 univention-ucc-bootsplash,
 univention-lightdm,
 alsa-utils,
 rsyslog-relp,
 network-manager,
 libsasl2-modules-gssapi-heimdal
Recommends: univention-ucc-printerconfig,
 univention-ucc-proxy-settings,
 univention-ucc-cifshome-pam-mount
Description: Metapackage for Univention Corporate Client
 This package defines dependencies on the various packages
 needed on a Univention Corporate Client system.

Package: univention-ucc-eval-policies-on-join
Architecture: all
Depends: univention-corporate-client
Description: Evaluate Univention Corporate Client policies on join
 This package provies a joinscript that runs
 univention-ucc-fetch-system-policies during system join. Install this
 package to write system policies to the thinclient image when joining,
 to provide fallback values in case the LDAP server is unrechable.

Package: univention-ucc-eval-policies-on-boot
Architecture: all
Depends: univention-corporate-client,
 univention-ucc-initramfs (>= 3.0.2-3)
Description: Evaluate Univention Corporate Client policies on boot
 This package provies funcionality to run
 univention-ucc-fetch-system-policies during system boot. Install this
 package if system policies should be written to a thinclient image
 on each boot, to always provide the latest available fallback in case
 the LDAP server is unreachable.
