[Unit]
Description=Installing software updates
Before=lightdm.service
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/univention-ucc-software-update
RemainAfterExit=true
