Source: univention-ucc-join
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.7.2
Build-Depends: debhelper,
 ucslint,
 univention-config-dev

Package: univention-join
Architecture: all
Depends: ${misc:Depends},
 univention-config-registry,
 shell-univention-lib,
 univention-ssh,
 tofrodos,
 ldap-utils,
 python-univention-lib,
 auth-client-config,
 univention-ucc-pam,
 python-univention-heimdal
Description: UCC - UCS domain join
 univention-join integrates an UCC client into a UCS domain.
