Source: univention-ucc-proxy-settings
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper,
 univention-config-dev,
 ucslint

Package: univention-ucc-proxy-settings
Architecture: all
Depends: ${misc:Depends}
Description: UCC - proxy settings
 This package contains firefox and kde configuration 
 templates for proxy settings.
