Source: univention-ucc-session-xenapp
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev, ucslint
Standards-Version: 3.7.2

Package: univention-ucc-session-xenapp
Architecture: all
Depends: ${misc:Depends},
 firefox,
 metacity,
 univention-lightdm,
 libspeex1,
 libvorbis0a,
 libvorbisenc2,
 gstreamer0.10-tools,
 gstreamer0.10-plugins-ugly,
 gstreamer0.10-plugins-good,
 gstreamer0.10-plugins-bad,
 gstreamer0.10-alsa,
 gstreamer0.10-fluendo-mp3,
 gstreamer0.10-ffmpeg,
 gstreamer0.10-x,
 libglib2.0-0,
 libice6,
 libgtk2.0-0,
 libsm6, libx11-6,
 libxext6,
 libxmu6,
 libxpm4,
 libasound2,
 libxerces-c3.1,
 libstdc++6,
 libwebkit-1.0-2 | libwebkitgtk-1.0-0,
 devilspie,
 libcurl3,
 univention-ucc-firefox-config,
 debianutils,
 x11-utils
Description: Integration package for XenApp terminal services
 This package installs the required packages to allow
 UCC systems to access terminal services.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
