Source: univention-ucc-session-xenapp
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, univention-config-dev, ucslint
Standards-Version: 3.7.2

Package: univention-ucc-session-xenapp
Architecture: all
Depends: firefox, libxp6, openbox, univention-lightdm
Description: Integration package for XenApp terminal services
 This package installs the required packages to allow
 UCC systems to access terminal services.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
