Source: univention-xrdp
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper,
 univention-config-dev,
 ucslint,
 pulseaudio
Standards-Version: 3.9.3

Package: univention-xrdp
Architecture: all
Depends: ${misc:Depends},
 univention-base-files,
 xrdp (>= 0.8),
 x11rdp,
 pulseaudio-xrdp
Description: xrdp integration package
 This package integrades the Remote Desktop Protocol (RDP) X server into the
 Univention Corporate Client (UCC) by providing additional configuration files
 and integration into Univention Configuration Registry.